TZ=Europe/Warsaw  # your timezone, e.g. Europe/London, America/New_York, etc.
PUID=568          # the user id that you want the container to run as; 568 - apps user on TrueNAS
PGID=568          # the group id that you want the container to run as; 568 - apps group on TrueNAS

CODE_SERVER_PORT=8443  # the port that you want code-server to run on; 8443 is the default for code-server
DOZZLE_PORT=8888        # the port that you want dozzle to run on; 8888 is the default for dozzle
UPTIME_KUMA_PORT=3001   # the port that you want uptime-kuma to run on; 3001 is the default for uptime-kuma



